<ion-header>
  <ion-toolbar>
    <ion-title>student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-row>


      <div *ngIf="getstudentByid != null">

        <ion-col text-center>
          Id :
          {{getstudentByid.idStudent}}
        </ion-col>
        <ion-col text-center>
          name :
          {{getstudentByid.nameStudent}}
        </ion-col>  </div>
       
    
      <ion-col>
        <ion-item lines="none">
          <ion-button slot="end" size="default" (click)="GoPageAddClassstudent(getstudentByid.username)">
            + เพิ่ม
          </ion-button>
        </ion-item>
      </ion-col>
    


    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายการวิชา</h1>
      </ion-col>
    </ion-row>

    <ion-grid>

      <ion-row>

        <table class="fixed_header">
          <thead>
            <tr>
              <th>รหัสอาจารย์</th>
              <th>ชื่ออาจารย์</th>
              <th>รหัสวิชา</th>
              <th>ชื่อวิชา</th>


              <th width="5%">ดูข้อมูล</th>


            </tr>
          </thead>
          <!-- <tbody *ngIf="dataTeacher != null">
              <tr *ngFor="let d of dataTeacher">
                
                <td>{{ d.idTeacher }}</td>
                <td>{{ d.nameTeacher }}</td>
                <td>{{ d.class }}</td>
                
                
              </tr>
            </tbody> -->
          <!-- <tbody *ngIf="getAllDataTeacher != null"> -->
            <tbody  *ngFor="let d of getAllCourse ">

            <tr *ngFor ="let A of d.teacher">
              


              <td>{{ A.idTeacher }}</td>
              <td>{{ A.nameTeacher}}</td>

              <td >
                {{d.idCourse}}
              </td>
              <td >
                {{d.nameCourse}}
              </td>
              


              <td>
                <ion-button color="secondary" (click)="gopageDetail()">ดูข้อมูล</ion-button>
              </td>

            </tr >
          </tbody>
        </table>

      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>