<ion-header>
  <ion-toolbar>
    <ion-row justify-content-center *ngIf="getstudentByid != null">


      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        Id :
        {{getstudentByid.idStudent}}
      </ion-col>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        name :
        {{getstudentByid.nameStudent}}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-row>

    <ion-col>
      <ion-item lines="none">
        <ion-button slot="end" size="default" (click)="GoPageAddClassstudent(getstudentByid.idStudent)">
          + เพิ่ม
        </ion-button>
      </ion-item>
    </ion-col>

  </ion-row>


  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายการวิชา</h1>
      </ion-col>
    </ion-row>

    <ion-grid>

      <ion-row>

        <table class="fixed_header">
          <thead>
            <tr>

              <th>รหัสวิชา</th>
              <th>ชื่อวิชา</th>


              <th width="5%">ดูข้อมูล</th>


            </tr>
          </thead>

          <tbody *ngIf="getCourseStudent != null">

            <tr *ngFor="let A of getCourseStudent">
              <td>
                {{A.idCourse}}
              </td>
              <td>
                {{A.nameCourse}}
              </td>

              <td>
                <ion-button (click)="presentAlert(A.idCourse)">ดูข้อมูล</ion-button>
              </td>

            </tr>
          </tbody>
        </table>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>