<ion-header>
  <ion-toolbar>
    <ion-row justify-content-center *ngIf="getstudentid != null">


      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        Id :
          {{getstudentid.idStudent}}
      </ion-col>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        name :
        {{getstudentid.nameStudent}}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายการวิชา</h1>
      </ion-col>
    </ion-row>

    <ion-grid>

      <ion-row>

        <table class="fixed_header">
          <thead>
            <tr>
              <th>รหัสอาจารย์</th>
              <th>ชื่ออาจารย์</th>
              <th>รหัสวิชา</th>
              <th>ชื่อวิชา</th>


              <th width="5%">ลงทะเบียน</th>


            </tr>
          </thead>
          <!-- <tbody *ngIf="dataTeacher != null">
              <tr *ngFor="let d of dataTeacher">
                
                <td>{{ d.idTeacher }}</td>
                <td>{{ d.nameTeacher }}</td>
                <td>{{ d.class }}</td>
                
                
              </tr>
            </tbody> -->
          <tbody *ngFor="let d of getCourseStudent">
            <tr *ngFor="let A of d.teacher" >
             <td> {{A.idTeacher}}</td> 
              <td> {{A.nameTeacher}}</td> 
              <td>{{ d.idCourse }}</td>
              <td>{{ d.nameCourse}}</td> 

              
              <td>
                <ion-button   (click)="AddCourse(d.idCourse)">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
              </td>

            </tr >
          </tbody>
        </table>

      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
