<ion-content>
  <!-- <div class="container-login100">

  
<div>
  <ion-card class="wrap-login100">
    <h3 class="CCC"  text-center>เข้าสู่ระบบ</h3>
    <div >

    <ion-card-content >


      <form [formGroup]="data" (ngSubmit)="gopage()">

        <ion-item lines ="none">
         <ion-label color="light" >Username</ion-label>
          <ion-input  class="input100" formControlName="username"></ion-input>
        </ion-item>
        <ion-item lines ="none">
          <ion-label color="light">Password</ion-label>
          <ion-input class="input100" formControlName="password"></ion-input>
        </ion-item>
        <div class="container-login100-form-btn">
        <ion-button  class="login100-form-btn"  type="submit">เข้าสู่ระบบ</ion-button>
        </div>

      </form>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button class="button1" (click)="gopageRegister()">ลงทะเบียน อาจารย์</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="button1"  (click)="gopageRegisterStudent()">ลงทะเบียน นักเรียน</ion-button>
        </ion-col>

      </ion-row>



    </ion-card-content>
    </div>
  </ion-card>
</div>


</div> -->




  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="assets/img-01.png" alt="IMG">
          </div>

          <form class="login100-form validate-form" [formGroup]="data" (ngSubmit)="gopage()">
            <span class="login100-form-title">
              Login
            </span>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <ion-input class="input100" type="text" placeholder="Username" formControlName="username"></ion-input>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <ion-input class="input100" type="password" placeholder="Password" formControlName="password"></ion-input>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">
                Login
              </button>
            </div>

            
            <div class="text-center p-t-136">
              <a class="txt2" href="/register-student">
                ลงทะเบียนนักเรียน
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
            <div class="text-center p-t-136">
              <a class="txt2" href="/register-teacher">
                ลงทะเบียนอาจารย์
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>













          </form>
        </div>
      </div>
    </div>

  </body>

</ion-content>