<ion-header>
  <ion-toolbar>
    <ion-title>add-class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row *ngIf="Teacherid != null">


      <ion-col text-center>
        Id :
        {{Teacherid.idTeacher}}
      </ion-col>
      <ion-col text-center>
        name :
        {{Teacherid.nameTeacher}}
      </ion-col>
    </ion-row>

  </ion-card>




 
    <ion-card class="ion-padding">
      <form [formGroup]="data" (ngSubmit)="addclass()">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>เพิ่มวิชา</h3>
          </div>
          <div>

            <ion-label>รหัสวิชา</ion-label>
            <ion-select placeholder="Select One" formControlName="idCourse">
              <ion-select-option *ngFor="let d of dataClass" value="{{d.idClass}}">{{d.idClass}}</ion-select-option>
            </ion-select>

            <ion-label>รหัสวิชา</ion-label>
            <ion-select placeholder="Select One" formControlName="nameCourse">
              <ion-select-option *ngFor="let d of dataClass" value="{{d.nameClass}}">{{d.nameClass}}</ion-select-option>
            </ion-select>


          </div>
          <div>
            <ion-button size="large" expand="block" type="submit">บันทึก</ion-button>
            <!-- <ion-button size="large" expand="block" (click)="addclass(idclass,nameclass)">บันทึก</ion-button> -->
          </div>
        </ion-col>
      </ion-row>
    </form>
    </ion-card>
 
</ion-content>