<ion-content>
  <!-- <form [formGroup]="data" (ngSubmit)="register()">

    <div class="aaa">
      <ion-card>
        <h3 class="CCC"  text-center>ลงทะเบียน นักเรียน</h3>
        <div class="BBB">
          <ion-card-content>
            <ion-item>
              <ion-label color="light">Id</ion-label>
              <ion-input type="text" formControlName="idStudent"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="light">name</ion-label>
              <ion-input type="text" formControlName="nameStudent"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="light">username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="light">password</ion-label>
              <ion-input type="text" formControlName="password"></ion-input>
            </ion-item>

            
              <ion-button expand="block" type="submit">บันทึก</ion-button>
          

          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </form> -->


  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
         

          <form class="login100-form validate-form" [formGroup]="data" (ngSubmit)="register()">
            <span class="login100-form-title">
              sign up
            </span>
            <div class="wrap-input100 validate-input">
              <ion-input class="input100" type="text" placeholder="id" formControlName="idStudent"></ion-input>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="wrap-input100 validate-input">
              <ion-input class="input100" type="text" placeholder="name" formControlName="nameStudent"></ion-input>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <ion-input class="input100" type="text" placeholder="Username" formControlName="username"></ion-input>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <ion-input class="input100" type="password" placeholder="Password" formControlName="password"></ion-input>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">
                sign up
              </button>
            </div>

          
          </form>
        </div>
      </div>
    </div>

  </body>






</ion-content>