ion-button{
    --color:#fff;
    --background:rgba(120, 144, 156, 0.562);
    --background-focused:rgb(17, 17, 17) !important;
    --border-color: #FFF!important;
    --border-width: 1.5px !important;
    --border-radius: 60px !important;
    --padding-bottom:17px; 
    --padding-end:17px; 
    --padding-start: 17px; 
    --padding-top:17px; 
    --ripple-color :#FFF;
    --color-activated :#FFF ;
    --background-hover:linear-gradient(-135deg, #8294c7, #4158d0);

    
    margin:20px;
    
    }